@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
    <style>
        .done {
            text-decoration: line-through;
        }
    </style>
    
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    @Html.ActionLink("jQueryTest", "jQueryTest")
    @Html.ActionLink("Hooks", "Hooks")
    <div>
        @using (Ajax.BeginForm("HelloWorld", new AjaxOptions { UpdateTargetId = "results" }))
        {
            <input type="text" name="name" />
            <input type="submit" value="Поиск" />
        }
        <div id="results"></div>
    </div>

    <div id="content"></div>

    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>

    <script src='@Url.Content("~/Scripts/ReactJS/Context.jsx")'></script>
    <script src='@Url.Content("~/Scripts/ReactJS/ToDoItem.jsx")'></script>
    <script src='@Url.Content("~/Scripts/ReactJS/ToDoList.jsx")'></script>
    <script src='@Url.Content("~/Scripts/ReactJS/AddToDo.jsx")'></script>
    <script src='@Url.Content("~/Scripts/ReactJS/app.jsx")'></script>



</body>
</html>
